
#dev7link {
    position:absolute;
    top:0;
    left:50px;
    background:url(images/dev7logo.png) no-repeat;
    width:60px;
    height:67px;
    border:0;
    display:block;
    text-indent:-9999px;
}

.slider-wrapper {
    width: 1138px;
    margin-top: 7px !important;
    height: 450px;
    margin: auto;
}
.nivo-controlNav {
	display:none !important;
}
/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}