body{font-family: 'Roboto', sans-serif, 'Roboto Condensed';}
li{ list-style:none;}
#main{ margin-bottom:0px;}
#header{ height:51px;  background:url(img/bg-nav.jpg) repeat-x; border-bottom:1px solid #B9191F; position:relative;}
#header .container{ position:relative;}
.container{width:1140px;}
.hotline1{ padding-left:30px;}
.icon-home{ display:block; width:28px; height:28px; background:url(img/icon-home.png) no-repeat;}
.icon-phone{ width:31px; height:41px; display:block; background:url(img/phone.png)0px 14px no-repeat; float:left;}
.hotline1 a{ color:#0F6634; font-size:18px; line-height: 48px;}
#cssmenu > ul > li:first-child > a{ padding:11px 25px;}

/*********/
.cart, .search{ display:table; margin-left:40px;}
.cart{ position:absolute; top:16px; right:162px;}
.search{ position:absolute; top:16px; right:90px;}
.cart-icon{display: block;
           height: 40px;
           width: 40px;
           background:url(img/icon-cart.png) no-repeat;
}

.cart-cont{
    color: #fff;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    width: 25px;
    height: 25px;
    border-radius: 5000px;
    border: 1px solid #fff;
    display: block;
    padding-left: 6px;
    padding-top: -6px;
    line-height: 22px;
    position: absolute;
    top: -9px;
    right: -6px;
}
.tk {
    background:url(img/icon-search.png) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
}
.dropdown-menu {
    left: -250px;
    border-top: 2px solid #D31E25;
    border-radius: 0px;
    top: 40px;
}
.search .navbar-form .form-control{    float: left;
                                       width: 161px;}
.search .btn-default{width: 80px;
                     float: left; border-radius:0px; background:#f79328; color:#fff;}
/***********/
.top-header{ background:url(img/bg-top-header.jpg) repeat; height:50px;}
.logo{ display:table; margin:0 auto; width:204px; z-index:9999; position: absolute;
       height: 112px;
       left: 0;
       right: 0;
       top: 0;}
.logo h1 img{ position:absolute; top:0; left:0; right:0; margin:auto;}
.cont-header{ position:relative; padding-bottom:10px; }
.cont-header:before{ content:''; position:absolute; width:121px; height:25px; background:url(img/befo.png) no-repeat; left:0; right:0; top:-25px; margin:0 auto; display:block;}
#cssmenu ul{ z-index:999;}
.customer{ margin-top:35px;}
.title{ position:relative;}
.line{ height:1px; width:100%; background:#333; margin-top:-10px;}
.title h2{ font-size:20px; color:#333333; text-transform:uppercase; font-family:'Roboto Condensed', sans-serif; display:table; margin:0 auto; background:#fff; padding: 0 20px; z-index:999;}
.owl-theme .owl-controls{ display:none !important;}
.customer .cont{ margin-top:40px;}
.box-img{ height:128px; position:relative;}
.box-img img{ position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; max-height:128px; max-width:100%;}
/***************/
.top-left{ float:left;}
.searchbox {
    float: right;
    width: 270px;
    margin-top:7px;
}
.searchbox .submitForm {
    border-radius: 0 5px 5px 0px;
    -webkit-border-radius: 0 5px 5px 0px;
    -moz-border-radius: 0 5px 5px 0px;
    -o-border-radius: 0 5px 5px 0px;
}
.searchbox .form-control, .searchbox .submitForm {
    border-radius: 5px 0 0px 5px;
    -webkit-border-radius: 5px 0 0px 5px;
    -moz-border-radius: 5px 0 0px 5px;
    -o-border-radius: 5px 0 0px 5px;
    background-color:rgba(0,0,0,0);
}
.searchbox .submitForm {
    background: url("img/icon-search.png") no-repeat scroll center center transparent;
    height: 32px;
    width: 30px;
    text-indent: -9999px;
    border: 1px solid #ccc;
    border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    border-left: none;
}
/************Slider**********/

.jssorb21 {
    position: absolute;
}
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
    position: absolute;
    /* size of bullet elment */
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    color: white;
    font-size: 12px;
    background: url(img/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }


.jssora21l, .jssora21r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(img/a21.png) center center no-repeat;
    overflow: hidden;
}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21l.jssora21ldn { background-position: -243px -33px; }
.jssora21r.jssora21rdn { background-position: -303px -33px; }
/*********END SLIDER **************/
/***************FOOTER**************/
#footer { background: #D31E25;
    border-top: 7px solid #AD181D;}
.bantin ::-webkit-input-placeholder{color: #ebe6e0 !important;}
.bantin .searchbox:-moz-placeholder{color:#ebe6e0 !important;}
.bantin ::-moz-placeholder{color:#ebe6e0 !important;}
.bantin :-ms-input-placeholder{color:#ebe6e0 !important;}
.title-bt {
    border-bottom: 1px solid # EA822B;
}
.title-bt span, .title-bt a {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
    text-transform: uppercase;
}
.facebook-cont {
    margin-top: 20px;
}
.bottom-footer {padding: 20px 0px 0px;}
.top-footer .container{ background:#fff; padding:40px;}
.address, .box-footer a, .welcome { color:#ebe6e0; font-size:13px;}
.welcome{ border-bottom:1px solid # EA822B; padding:20px 0 15px 0}
.company p{ color:#fff; font-size:14px; text-transform:uppercase;}
.list-content .list-content-img{ position:relative; height:130px;}
.list-content .list-content-img img{ position:absolute; top:0; left:0; bottom:0; right:0; margin:auto;height:auto;
                                     width: 100%;}
.list-content .list-content-body{ margin-left:220px;}
.list.grid .list-item .list-content-box .list-content-body{ text-align:center; padding:0 60px;}
.newsletters-title h2 {
    font-size: 14px;
    color: #666;
}
.newsletters-text {
    color: #ebe6e0;
    width:250px;
    padding-top:10px;
}
.form-control {
    width: 320px;
    float: left;
    font-size: 12px;
    font-family: tahoma;
    border-radius: 0;
    border-right: none;
}
#footer .form-control {
    width: 100%;
    border-radius: 3px 0 0 3px;
    background:#b2151b;
}
#footer .form-group>.form-control {
    border-right: 1px solid #e3e3e3;
    border-radius: 3px;
    width:250px;
    background:#b2151b;
}
.input-group-addon {
    background-color: #8C0B0F;
}
.input-group-addon:last-child{ border-left:1px solid #ccc;}
.input-group{width:250px;}
#footer .col-sm-4{ padding:0 50px;}
#footer .box-footer{ padding-left:0;}
#footer .facebook{ padding-right:0;}
#footer .facebook img{ width:100%;}
.footer-f {  height:45px; background:#b6161c;}
.coppyright{ float:left; color:#bab1a7; text-transform:uppercase; font-size:11px; line-height:45px;}
.nano { float:right;}
.nano a{color:#bab1a7;font-size:11px; line-height:45px; }
#cssmenu ul ul li a{ text-transform:uppercase;}

.menu-footer ul{ margin-top:15px;}
.menu-footer ul li a{ color:#fff; font-size:14px; line-height:30px;}
/***********END-FOOTER***********/
/**********Trang trong*************/
.left{ width:250px; float:left;padding-top: 10px;}
.right-pad{
    margin-left: 270px;
    padding-top: 20px;
}
.w3-form-group .w3-form-input{
    width: 100%;
    border-right: 1px solid #dddddd;
}
.left .panel-heading h2{
    font-size: 15px;
    color: #ffffff;
}
.left .panel-body ul li{
    height: 50px;
    line-height: 39px;
    padding-left: 65px;
    margin-top: 10px;
    color: #333333;
}
.box-product-page ul{
    float: right;
}
.left .panel-body ul li a{
    color: #333333;
}
.categories .panel {
    border-color: #e3e3e3;
    border-bottom: none;
    border-right: none;
}
.categories .panel-default > .panel-heading, .featured .panel-default > .panel-heading, .support-in .panel-default > .panel-heading {
    background: #106634;
}
.categories .panel-default > .panel-heading h2, .featured .panel-default > .panel-heading h2, .support-in .panel-default > .panel-heading h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 5px 0 5px 10px;
}
.categories .panel-body, .featured .panel-body, .album .panel-body {
    padding: 0;
}
.categories .menu.menu-list > li {
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}
.categories .menu li > a {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    padding: 4px 10px 4px 18px;
}
.categories .menu li:hover > a{ color:#fd9d3e;}
.submenu .menu li:hover > a{ border-color:rgba(0,0,0,0)}
.support-in li {
    list-style: none;
    padding-left: 65px;
    line-height: 40px;
    margin-bottom: 10px;
}

.hotline, .yahoo, .skype, .email {
    background: url(img/icon-support.png) no-repeat;
}
.hotline {
    background-position: 10px -149px;
}
.yahoo {
    background-position: 10px -44px;
}
.email {
    background-position: 10px -100px;
}
.skype {
    background-position: 10px 0px;
}
.featured .list {
    margin-bottom: 0;
}
.list-small .list-item {
    border: none;
    margin-bottom: 0px;
    padding: 0;
}
.list-small .list-content:last-child {
    border-bottom: none;
}
.list-small .list-content {
    border-bottom: 1px dotted #e3e3e3;
    padding: 5px;
}
.list.list-small .list-content .list-content-box {
    border-bottom: 1px dotted #e3e3e3;
    padding-bottom: 10px;
}
.list.list-small .list-content .list-content-img {
    float: left;
    height: 100px;
    position: relative;
}
.list.list-small .list-content .list-content-img img {
    max-width: 100%;
    width: 100%;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.list.list-small .list-content .list-content-body {
    margin-left: 120px;
}
.list.list-small .list-content-body .list-content-title {
    height: auto;
    display: inline;
}
.list.list-small .list-content-body .list-content-title h3:hover a{ color:#FBAC2C;}
.list-content-title h3 {
    margin-top: 0; text-transform: uppercase;
}
.list.list-small .list-content-body .list-content-title a {
    text-transform: none;
    font-size: 13px;
}
.list-small .product-price-all, .list.list-small .product-price {
    margin-bottom: 0;
}
.list.list-small .product-price {
    color: #eb0000;
    font-size: 14px;
}
.featured .panel-body{ padding:10px;}
/*********right*****/
.breadcrumb > li a {
    color: #FFF;
    line-height: 220px;
    font-size: 28px;
    text-transform:uppercase;
}
.list.grid .list-item {
    width: 33.3333333%;
    height: 395px;
    padding-top: 10px;
}
ul.W3NPager .selected a, ul.W3NPager .active a{    background: #DF7115;    border: 1px solid #D06811;}
.list.grid .list-item .list-content-box .list-content-img {
    height: 250px;
    max-height: 250px;
}
.centerContent{ padding:0;}
.centerContent .list.grid{ margin:0;}
.list .product-price{ font-size:16px;    color: #cc0202; margin-bottom:0;}
.product-price-market{ margin-bottom:10px; color:#666;}
.banner-trong{ margin-bottom:20px; border:1px solid #e3e3e3;}
.list.grid .list-item .list-content-body .list-content-title{ margin-bottom:10px; max-height:20px;}
.list.grid .list-item .list-content-body .list-content-title:hover h3 a{ color:#FBAC2C;}
.quang-cao img{ margin-bottom:20px;}
.button a{ color:#fff; font-size:18px; text-transform:uppercase; font-weight:bold; border-radius:10px; background:#d11920;font-family: 'Roboto Condensed', sans-serif ; padding:5px 15px; line-height:31px;}
.button:hover a{ background:#ec832b;}
.button{ height:31px; margin-top:10px;}
.box-breadcrumb{ height:163px; background:#d11920 url(img/bg-berk.png) repeat;}
.breadcrumb{ border:none;}
.breadcrumb > li + li:before, .breadcrumb > li{ display:none;}
.breadcrumb > li:last-child{ display:block;    text-align: center;}
/*******End******/
/**** CHi tiết sp********/
.product-detail .product-detail-box .product-detail-img{ width:500px; padding-left:20px; padding-top:20px;margin-right: 20px;}
.product-detail .product-detail-box .product-detail-img .product-img-item{ float:left; border-top:none;}
.product-detail .product-detail-box .product-detail-img .product-img-item ul li{ display:block; margin-bottom:10px;float: left;
                                                                                 margin-right: 10px;}
.product-detail  span.pricetext, .product-detail .currencytext{ color:#ff2d2d; font-size:24px; text-transform:uppercase;}
.product-detail .product-detail-box .product-detail-info .product-info-title{ font-weight:600; color:#000; font-size:18px;}
.old-price{text-decoration: line-through;}
.product-detail-sortdesc{ font-size:14px}
.product-detail-saving span{ color:#00b548; font-size:14px;}
.product-detail .product-detail-box .product-detail-info label{ color:#333;}
.purchaser{ float:left; width:100%;}
.product-detail .product-detail-box .product-detail-info{ margin-left:0px;padding: 20px 20px 20px 0; margin-left: 550px;}
.product-detail .product-detail-box .product-detail-more{ overflow:auto; height:380px;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ font-weight:bold; font-size:16px;}
.tab-content{ padding:0 10px;}
.CartActionAdd.ProductActionAdd{ float:left;}
.fb_comment iframe{ width:100% !important;}
.tab-content{ border:1px solid #e3e3e3; padding:10px 15px 20px 15px;}
.tab .nav-tabs{ margin-bottom:0;}
.nav-tabs{ border-bottom:none;}
.tab-content p img{ margin:0 auto;  display: table;}
.related-products .list.grid .list-item{ width:25%;}
.related-products .list.grid .list-item .list-content-box .list-content-img{ height:130px;}
.related-products .product-price-all{ margin-bottom:0;}
.list.grid{ margin:0 -10px 15px -10px;}
/* ################# BUTTON STYLE 1 ################# */

.a-btn{
    background:#f89329;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#f89329,0),color-stop(#f89329,1));
    background:-webkit-linear-gradient(top, #f89329 0%, #f89329 100%);
    background:-moz-linear-gradient(top, #f89329 0%, #f89329 100%);
    background:-o-linear-gradient(top, #f89329 0%, #f89329 100%);
    background:linear-gradient(top, #f89329 0%, #f89329 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f89329', endColorstr='#f89329',GradientType=0 );
    padding-left:14px;
    padding-right:100px;
    height:40px;
    display:inline-block;
    position:relative;
    border:1px solid #f9830c;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    float:left;
    clear:both;
    margin:10px 0px;
    overflow:hidden;
    -webkit-transition:box-shadow 0.3s ease-in-out;
    -moz-transition:box-shadow 0.3s ease-in-out;
    -o-transition:box-shadow 0.3s ease-in-out;
    transition:box-shadow 0.3s ease-in-out;

}

.purchaser .a-btn-text{
    color: #fff;
    padding-top: 8px;
    padding-left: 0px;
    display: block;
    font-size: 15px;
    text-shadow:1px 1px 1px #000;
    -webkit-text-shadow:1px 1px 1px #000;
    -o-text-shadow:1px 1px 1px #000;
    -moz-text-shadow:1px 1px 1px #000;
}

.a-btn-icon-right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:50px;
    border-left:1px solid #A00A0B;
    -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}
.a-btn-icon-right span{
    width:30px;
    height:30px;
    opacity:0.7;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    position:absolute;
    left:60%;
    top:25px;
    margin:-20px 0px 0px -20px;
    border:1px solid #db6e02;
    background:#f89329 url(img/arrow_right.png) no-repeat center center;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.3) inset, 0px 1px 2px rgba(255,255,255,0.5);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.3) inset, 0px 1px 2px rgba(255,255,255,0.5);
    box-shadow:0px 1px 1px rgba(255,255,255,0.3) inset, 0px 1px 2px rgba(255,255,255,0.5);
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.a-btn:hover{
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
}


.a-btn:active{
    position:relative;
    top:1px;
    background:#A00A0B;
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    border-color:#f83d3e;
}
.a-btn:active .a-btn-icon-right span{
    -webkit-transform:scale(1.4);
    -moz-transform:scale(1.4);
    -ms-transform:scale(1.4);
    -o-transform:scale(1.4);
    transform:scale(1.4);
}
.content-block{ margin-bottom:30px;}
/**********/
.social .social-item{ float:left;}
.related-products .list-content-body .list-content-title{ height:60px; max-height:60px;}
.related-products .list-content-body .list-content-title h3{ margin:0; font-size:13px;}
.related-products .list-content-body .list-content-title h3 a{ text-transform:none;}
.related-products .list.grid .list-item .list-content-body .list-content-title{ max-height:60px;  display: inline;}
.related-products .list.grid .list-item .list-content-box .list-content-body{ margin-top:10px;}
.right .title{ margin-bottom:20px;}
.right .product .list.grid{ margin:0;}
.right .product .line{ margin-top:-31px;}
.right .product .product-cont{ margin-top:28px;}
@media(min-width:1140px){
    .menu-footer{ padding-left:100px !important;}
}
@media(min-width:769px){
    #cssmenu ul{ display:table; margin:0 auto;}
    #cssmenu{ margin-top:0px; margin-left:-250px;}
    #cssmenu > ul > li:nth-child(4){ margin-right:230px;}
    #cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover{ background:#DE242C;}
    #cssmenu ul ul li{border-bottom: 1px solid rgb(224, 56, 62);}
    .navbar-form{ width:280px;}

}
@media(max-width:1200px){
    .container{width:100%;}
}
@media(max-width:1124px){
    .search{right:30px;}
    .cart{right:105px;}
}
@media(max-width:992px){
    .logo{width:150px;}
    #cssmenu > ul > li:nth-child(4){ margin-right:150px;}
    #cssmenu{  margin-left:-160px;}
    .search{right:20px;}
    .cart{ right:80px;}
    #cssmenu > ul > li > a{ padding:17px 10px;}
    #cssmenu > ul > li > a{ font-size:14px;}
    .list.grid .list-item{ width:33.33333333%;}
    .list.grid .list-item .list-content-body .list-content-title{ max-height:80px;}
    .list.grid .list-item{ height:360px;}
    .product-detail .product-detail-box .product-detail-img{width:350px;}
    .product-detail .product-detail-box .product-detail-info{ margin-left:0px;}
    .product-detail .product-detail-box .product-detail-more{width:100%; overflow:inherit;}
    .list.grid .list-item .list-content-box .list-content-body{ padding:0 20px;}
}
@media(max-width:768px){
    .search{right:60px;}
    .cart{ right:130px;}
    #footer .col-sm-4{ padding-left:0;}
    .bottom-footer{ padding:10px;}
    #footer {padding: 0 10px;}
    #cssmenu ul li a{ font-size:18px; color:#fff;}
    #cssmenu > ul > li > a{ padding:11px;color:#fff;}
    #cssmenu ul ul li a{ padding:14px 20px 13px 20px; text-transform:uppercase; font-size:14px;color:#fff;}
    #cssmenu ul ul li:hover > a{ color:#fbac2c;}
    #cssmenu ul ul ul li a{ padding-left:30px;color:#fff;}
    .logo{ width:96px; height:50px; position:absolute; left:0;right: inherit;}
    .top-header{ position:relative;}
    .searchbox{position: absolute; bottom:-180px;width: 226px;z-index: 9999; left:10px;}
    #cssmenu{margin-top:0px; margin-left:0;}
    .searchbox .form-control, .searchbox .submitForm{ border-color:#115e32}
    #cssmenu #menu-button{height:51px;  background:url(img/bg-nav.jpg) repeat-x;}
    #cssmenu > ul{ background-color: #D41F26;
                   margin-top: -1px;}
    .left{ display:none;}
    .right{ margin-left:0;}
    .list.grid .list-item{ width:50%;}
    .product-detail .product-detail-box .product-detail-img{width:100%;}
    .product-detail .product-detail-box .product-detail-info{ margin-left:0;}
    .product-info-col1{ padding:0 10px;}
    .product-detail .product-detail-box .product-detail-info{ padding:0 10px;}
    .right .list-item:last-child{ display:block;}
    .navbar-form {
        width: 280px; margin-top:0; padding:0 15px;
    }
    .open > .dropdown-menu{ padding-left:11px;}
    .dropdown-menu {
        left: -200px;}
    .box-breadcrumb{ height:65px; }
    .breadcrumb > li a{ line-height:65px; font-size:18px;}

}
@media(max-width:480px){
    .logo{ width:96px;    height: 50px;
           position: absolute;
           left: 0;}
    .searchbox{ bottom:-160px;}
    .hotline{ padding-left:10px;}
    .hotline a{ font-size:13px;}
    .list.grid .list-item{ width:100%;}
}

.item-choose-foods{
    clear: both;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px dotted #dddddd;
    padding-bottom: 10px;
}
.item-choose-foods:last-child{
    border-bottom: 0px;
}
.item-choose-foods a.img{
    display: block;
    float: left;
}
.item-choose-foods .r{
    float: left;
    margin-left: 10px;
}
.item-choose-foods .r h3{
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
}
.item-choose-foods .r .price .pricetext,.item-choose-foods .r .price .currencytext{
    font-size: 13px;
}
.btn_add_food{
    display: block;
    width: 20px;
    height: 20px;
    background: url(img/arrow_plus_nano.png) no-repeat center center;
    position: absolute;
    right: 10px;
    top: 37%;
    text-indent: -9999%;
}
.sc-title{
    margin: 0px;
    padding: 8px 0px !important;
}
.sc-quantity{
    height: 27px;
}
.loading-shoppingcart{
    position: fixed;
    top: 50%;
    border-radius: 3px;
    background-color: #f1ad1e;
    color: #ffffff;
    left: 50%;
    z-index: 99;
    height: 40px;
    line-height: 40px;
    width: 150px;
    text-align: center;
    border: 1px solid #f1ad1e;
    font-size: 20px;
    display: none;
}
.nav-choose-foods li a {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
}
.right-shoppingcart{
    padding-top: 20px;
}
.product-detail .product-detail-box .product-detail-img .product-img-main{
    height: 500px;
}
.product-info-state{
    margin-bottom: 15px;
}
.panel-default>.panel-heading{
    background: #d11920;
}
.button-detail{
    margin: 20px 0;
}