body{font-family: 'helvetica neue', sans-serif;}
.social li{ display: block;
            height: 57px;
            width: 57px;}
.pay ul li{
    display: block;
    height: 40px;
    width: 67px;
}

.google-map .cont{max-height:250px;}
@font-face {
    font-family:UTM Aptima;
    src:url(../font/UTM%20Aptima.ttf);
}@font-face {
    font-family:UTM AptimaBold;
    src:url(../font/UTM%20AptimaBold.ttf);
}
.f-mmb {
    display: block;
    width: 100%;
    overflow: hidden;
}
.redmore {
	margin-top: 22px;
    text-align: center;
	margin-bottom: 20px;
}
.redmore a:hover {
	background:#ff43a2;
	color: #fff;
}
.redmore a {
	border: 2px solid #ff43a2;
    padding: 8px 29px;
    font-size: 13px;
    border-radius: 15px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    font-family: Poppins;
	    color: #000;
}
.cateinhome {
	display: none;
}
.right .cateinhome {
	display: block;
}

#main{ padding-bottom:50px;}
.container{width:1169px;    padding-right: 0px !important;  padding-left: 0px !important;
	
}
.hotline1{ padding-right:30px; float:right;}
.hotline1 a span{font-family:UTM AptimaBold;}
.icon-phone{ width:31px; height:41px; display:block; background:url(img/phone.png)0px 14px no-repeat; float:left;}
.hotline1 a{ color:#f173ac; font-size:14px; line-height: 37px;}
.top-header{    background: #3b3335;
    border-bottom: 1px solid #33272d;
    height: 46px;
    overflow: hidden;}
.instroduce {
	 margin: auto;
    width: 60%;
    padding: 10px;
}
.box-images img {
	width: 100%;
}
.logo{
    display: table;
    float: left;
    height: 160px;
    margin-right: 50px;
    position: relative;
    width: 183px;
    z-index: 999;
}
.logo h1 img{ position:absolute; top:0; left:0; right:0; margin:auto;bottom: 0;}
.cont-header{ 
    table-layout: fixed;
    margin: 0 auto;
	background: #FFF;
}
.mod-layout-main {
    background-color: #fff;
    padding: 37px 50px;
}
.next-btn-large {
    margin: 0;
    height: 48px;
    padding: 0 36px;
    font-size: 14px;
    line-height: 46px;
    border-width: 1px;
}
.mod-input input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 14px;
    height: 40px;
    line-height: 38px \0;
    padding: 0 35px 0 10px;
    margin-bottom: 2px;
    outline: none;
}
.next-btn-primary {
    border-style: solid;
    background-color: #f57224 !important;
    border-color: transparent;
}
.next-btn {
    position: relative;
    display: inline-block;
    font-style: normal;
    font-family: inherit;
    background: transparent;
    cursor: pointer;
    transition: all .3s ease-out;
    box-shadow: none;
    border-radius: 2px;
    border-style: solid;
    text-align: center;
}
.next-btn-primary {
    color: #fff;
}
.mod-layout-title {
	font-size: 36px;
	padding-top: 30px;
}
.mod-layout .mod-input {
    width: 356px;
}
.mod-layout-subtitle {
    font-size: 14px;
    color: #424242;
    font-weight: 400;
    margin-bottom: 30px;
}
.mod-layout .next-btn {
    width: 288px;
    margin-top: 10px;
}
.cont-header .container{ position:relative;}
#cssmenu ul{ z-index:999;}
.customer{ margin-top:35px;}
.title{ position:relative; margin-bottom:10px;}
.line{ height:1px; width:100%; background:#333; margin-top:-10px;}
.title h2{ font-size:30px; color:#1c0531; text-transform:uppercase; font-family:UTM AptimaBold; display:table; margin:0 auto;  padding: 0 20px; z-index:999;}
.owl-pagination{ 
    display: none !important;
}
.owl-buttons{
    position: absolute;
    top: 190px;
    width: 100%;
    z-index: 10;
}


.box-img{ height:210px; position:relative; }
.product-cont{ margin:15px 12px; background:#fff; padding:0 10px;box-shadow: 0 0 15px 5px rgba(204, 204, 204, 0.72); -webkit-box-shadow: 0 0 15px 5px rgba(204, 204, 204, 0.72); -moz-box-shadow: 0 0 15px 5px rgba(204, 204, 204, 0.72);}
.price{ margin-top:30px; padding-bottom:15px;}
.price span{ font-size:24px; color:#ed145b;}
.box-img img{ position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; max-height:100%; max-width:100%;}
.box-info{ border-top:1px dashed #dddddd; position:relative;}
.box-info h4{ font-size:16px;height: 34px;}
.box-info h4 a{ color:#1c0531;}
.box-info h4:hover a{ color:#ed0c6e;}
.status { position:absolute; top:-30px; left:0px;}
.status span{ color:#fff; font-size:13px; background:#11bcba; padding:3px 6px 3px 6px; border-radius:4px;}
.icon-new{ background:url(img/icon-new.png) no-repeat; width:44px; height:44px; display:block; position:absolute; top:5px; right:2px;}
.icon-sale{ background:url(img/icon-sale.png) no-repeat; width:44px; height:44px; display:block; position:absolute; top:55px; right:2px;}
.news-product .title h2{ color:#ed0c6e;}
/***************/
.top-left{ float:right; width:65%;}
.login{ float:right;}
.login ul li{ float:left; display:inline-block; padding:3px 10px; list-style:none; padding-left:20px; }
.login ul li a{ color:#fff; line-height:30px;}
.login ul li:hover a{ color:#fff;}
.icon-register{ background-position:0 -27px;}
.icon-login{background-position:0 -65px;}
.cart{ position:absolute; top:15px; right:0;background:url(img/icon.png) 0 -119px no-repeat; padding-left:45px; height:40px;}
.cart a{ color:#c9c9c9; line-height:35px; font-size:12px;}
.cart a span{ font-size:20px;font-family:UTM AptimaBold; color:#f173ac}
.language{ float:left; width:35%;}
.language ul{ margin:0;}
.language ul li{ float:left; height:40px;line-height: 30px; list-style:none; margin-top:5px;}
.icon-vi, .icon-en{ background:url(img/icon.png) no-repeat 0 -195px; width:35px; height:30px; display:block;}
.icon-en{ background-position:0 -257px;}
.searchbox {
    position: absolute;
    top: 15px;
    right: 130px;
    width: 120px;
    margin-top:7px;
    transition:.5s all ease;
    z-index:999
}
.searchbox:hover,.searchbox:focus,.searchbox:active,.searchbox:visited {width:270px;}
.searchbox .submitForm {
    border-radius: 0 10px 10px 0px;
    -webkit-border-radius: 0 10px 10px 0px;
    -moz-border-radius: 0 10px 10px 0px;
    -o-border-radius: 0 10px 10px 0px;
}
.searchbox .form-control, .searchbox .submitForm {
    border-radius: 10px 0 0px 10px;
    -webkit-border-radius: 10px 0 0px 10px;
    -moz-border-radius: 10px 0 0px 10px;
    -o-border-radius: 10px 0 0px 10px;
    background-color:rgba(0,0,0,0);
    background-color:#fff;
}
.introducebox2 {
	display: none;
}
.searchbox .submitForm {
    background: #fff url("img/icon-search.png") no-repeat scroll center center;
    height: 32px;
    width: 30px;
    text-indent: -9999px;
    border: 1px solid #ccc;
    border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    border-left: none;
}
/************Slider**********/

.jssorb21 {
    position: absolute;
}
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
    position: absolute;
    /* size of bullet elment */
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    color: white;
    font-size: 12px;
    background: url(img/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }


.jssora21l, .jssora21r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(img/a21.png) center center no-repeat;
    overflow: hidden;
}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21l.jssora21ldn { background-position: -243px -33px; }
.jssora21r.jssora21rdn { background-position: -303px -33px; }
/*********END SLIDER **************/
/*******MAIN*******/
#main{ }
.banner-main{ padding-top:20px;}
.banner-main .row{ margin:0 -10px;}
.banner-main .col-sm-3, .banner-main .col-sm-6{ padding:0 10px;}
/**********BLOG*****/
.news-list .box-img{ height:160px; float:left; width:170px;}
.news-list .box-info{ margin-left:190px; border:none;}
.news-list .product-cont{ padding:0; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;}
.more span{ font-size:13px; color:#797979;}
.news-list .box-info h4{ font-size:15px; text-transform:uppercase;}
.news-list .title { margin-bottom:0;}
.news-list .title h2{ margin-left:0; font-size:22px; padding-left:10px;}
.need ul li {
    list-style: none;
    display: inline-block;
    overflow: hidden;
    height: 26px;
}
.need ul li a{ font-size:16px; color:#fff;}
.need ul li:hover a{ color: black;}
/***************FOOTER**************/
#footer {     
	background-color: #f7f7f7;
    display: table;
    table-layout: fixed;
    width: 100%;
    font-size: 12px;
    font-size: 1.2rem;}
.newsletters::-webkit-input-placeholder{color: #fff !important;}
.newsletters .searchbox:-moz-placeholder{color:#fff !important;}
.newsletters ::-moz-placeholder{color:#fff !important;}
.newsletters :-ms-input-placeholder{color:#fff !important;}
.title-bt { margin-bottom:10px;}
.address{ margin-top:10px; font-size:15px !important;}
.company{ margin-bottom:25px;}
.title-bt span {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-family:UTM AptimaBold;
}
.facebook-cont {
    margin-top: 20px;
}
.top-footer .container{ background:#fff; padding:20px;}
.address, .box-footer a, .welcome { color:#fff; font-size:14px;}
.welcome{ border-bottom:1px solid rgba(255, 255, 255, 0.15); padding:20px 0 15px 0}
.company p{ color:#fff; font-size:14px; text-transform:uppercase;}
.list-content .list-content-img{ position:relative; height:130px;}
.list.grid .list-content .list-content-img img{   
    position: static;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;}
.list-content .list-content-body{ margin-left:0px;}
.newsletters-title h2 {
    font-size: 14px;
    color: #666;
}
.list-content-body .list-content-title {
    color: inherit;
    display: block;
    font-size: 20px;
    padding-bottom: 10px;
}
.newsletters-text {
    color: #34003e;
    font-size:22px;
    padding-top:10px;
    font-family:UTM AptimaBold;
    text-transform:uppercase;
}
.newsletters .form-control {
    width: 90%;
    float: left;
    font-size: 15px;
    border-radius: 0;
    font-family:UTM Aptima;
    background:#fff;
    border:none;
}
.mod-login-forgot {
	font-weight: bold;
    text-align: right;
    margin-right: 3%;
}
.mod-login-forgot a{
	color: #ff43a2;
}
.feedback .item{ padding:5px 30px; background:#fff;}
.feedback{ margin-top:50px;}
.feedback .product-cont{ box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;}
.feedback .owl-buttons{ position:static;}
.feedback .owl-prev{ position:absolute; top:37%; left:0;}
.feedback .owl-next{position:absolute; top:37%; right:0;}
#footer .form-control {
    width: 100%;
    border-radius: 3px 0 0 3px;
    background:none;
}
#footer .form-group>.form-control {
    border-right: 1px solid #e3e3e3;
    border-radius: 3px;
    width:250px;
    background:none;
}


#utility-nav {display:table-row;width:100%;float:right;text-align:right;font-size:11px;font-size:1.1rem;}
#utility-nav li:first-child {
    border-left: none;
}
#utility-nav li {
    position: relative;
}
#utility-nav li {
    text-align: center;
    padding: 0 6px;
    margin-bottom: 5px;
}

//#utility-nav .occupied-cart-link{background-color:#7a9d65; }
#utility-nav .occupied-cart-link a{ color: white;}
#utility-nav .cart_icon {background:#aaaaab;color:#fff;padding:4px;margin-right:5px;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;}
#utility-nav .occupied-cart-link .cart_icon{background-color: #75db6f;}

#utility-nav {
    text-align: center;
}
#utility-nav {
    float: none;
    margin-bottom: 8px;
    display: block;
}

.main-header-contact-section {
    display: inline-block;
    vertical-align: top;
    border-left: 1px solid #000;
    width: 270px;
    padding: 25px 0 23px 35px;
}

.header-account-button-span {
    color: #000;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: lato, sans-serif;
    font-weight: 700;
}

.main-header-contact-section li.contact-section-iconlink {
    width: 32%;
    display: inline-block;
    text-align: left;
}
.boom-header-call-section {
    text-align: center;
}
.boom-header-call-section h5, .boom-header-call-section h5 a, .boom-header-call-section h5 a:link {
    font-size: 14px;
    font-family: lato, sans-serif;
    letter-spacing: 2px;
    display: inline-block;
    margin-bottom: 5px;
    text-transform: uppercase;
        font-weight: 700;
		color: #000;
}

.newsletters .form-control.input-email{width:100%;}
.input-submit{padding:0; background:#420141; color:#fff; border-radius: 0px;  display: block;}
.newsletters .input-group-addon{ background:#420141; color:#fff; text-transform:uppercase; border:none; border-radius:0px;}
.newsletters .input-group-addon .btn{ text-transform:uppercase; color:#fff;}
.input-group-addon {
    background-color: #73af43;
}
.newsletters .input-group{width:90%;}
.newsletters .newsletter-form{ background:#6f266e; padding:30px 0 15px 40px;}

#footer .facebook img{ width:100%;}
.footer-f { 
    background: #ee429c;
    padding: 15px 0 10px 0;
    border-bottom: 1px solid #ca3080;
    border-top: 1px solid #ca3080;
}
.coppyright{ float:none; color:#a3a2a3; text-transform:uppercase; font-size:16px; line-height:45px; text-align:center;}
.nano { float:none; text-align:center;}
.nano a{color:#a3a2a3;font-size:14px; }
#cssmenu ul ul li a{ text-transform:uppercase;}
.social-ft ul li, .box-pay ul li{ float:left; list-style:none;}
.social-ft , .box-pay{ display:table; margin:0 auto;}
.icon-fb, .icon-tw, .icon-gg, .icon-yt{ background:url(img/social.png) no-repeat 18px 0; width:57px; height:57px; display:block;}
.icon-tw{ background-position:-50px 0px;}
.icon-gg{ background-position:-132px 0px;}
.icon-yt{ background-position:-218px 0px;}
.icon-vs, .icon-mt, .icon-ae, .icon-pa { background:url(img/icon-pay.jpg) no-repeat; width:67px; height:40px; display:block;}
.icon-mt{ background-position:-57px 0px;}
.icon-ae{ background-position:-118px 0px;}
.icon-pa{ background-position:-182px 0px;}
.box-img-f{width:65px; float:left;}
.box-info-f{ margin-left:75px;}
.box-info-f h5{ font-size:17px; color:#1c0531; text-transform:uppercase;font-family:UTM AptimaBold;}
.box-info-f span{ color:#797979; font-size:14px;}
/***********END-FOOTER***********/
/**********Trang trong*************/

.left{ 
	width:286px; float:left;
}
.input-group-addon {
	color: #fff;
}
.displayed {
	float: right;
	padding-right: 135px;
}
.arrange {
	float: right;
}
.pzsummarytext , .pzaftertext, .pssummarytext {
	font-size: 12px;
    font-family: Montserrat, Arial, sans-serif;
    color: #000;
    font-weight: bold;
}

button, select {
    text-transform: none;
    display: inline-block;
    width: auto;
    background: #fff;
    height: 30px;
    border: 1px solid #ccc;
    margin-left: 5px;
    padding: 5px 30px 5px 10px;
    margin-right: 5px;
    position: relative;
}
#quantity {
	height: 40px;
}
.page-c-detail{ 
	margin: auto;
    width: 60%;
    padding: 10px; 
}
.title2 {
	margin-left: 15px;
}

.panel {
    margin-bottom: 20px;
	margin-top: 10px;
    background-color: #fff;
    border: 0px solid transparent;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.categories .panel {
    border-color: #e3e3e3;
    border-bottom: none;
    border-right: none;
}
.categories .panel-default > .panel-heading, .featured .panel-default > .panel-heading, .support-in .panel-default > .panel-heading {
    
}
.title2 h2 {
	font-family: Montserrat, Arial, sans-serif;
    color: #373737;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 25px;
}

.categories .panel-default > .panel-heading h2, .featured .panel-default > .panel-heading h2, .support-in .panel-default > .panel-heading h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 5px 0 5px 10px;
}
.categories .panel-body, .featured .panel-body, .album .panel-body {
    padding: 0;
}
.categories .menu.menu-list > li {
  
}
.categories .menu li > a {
    font-size: 14px;
    color: #333;
    padding: 4px 10px 4px 18px;
}
#exzoom {
    width: 500px;
    float: left;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.product-detail .product-detail-box .product-detail-info {
    margin-left: 590px;
    padding: 20px 20px 20px 0;
}
.categories .menu li:hover > a{ color:#9328A9;}
.submenu .menu li:hover > a{ border-color:rgba(0,0,0,0)}
.support-in li {
    list-style: none;
    padding-left: 65px;
    line-height: 40px;
    margin-bottom: 10px;
}

.hotline, .yahoo, .skype, .email {
    background: url(img/icon-support.png) no-repeat;
}
.hotline {
    background-position: 10px -149px;
}
.yahoo {
    background-position: 10px -50px;
}
.email {
    background-position: 10px -100px;
}
.skype {
    background-position: 10px 0px;
}
.featured .list {
    margin-bottom: 0;
}
.list-small .list-item {
    border: none;
    margin-bottom: 0px;
    padding: 0;
}
.list-small .list-content:last-child {
    border-bottom: none;
}
.list-small .list-content {
    border-bottom: 1px dotted #e3e3e3;
    padding: 5px;
}
.list.list-small .list-content .list-content-box {
    border-bottom: 1px dotted #e3e3e3;
    padding-bottom: 10px;
}
.list.list-small .list-content .list-content-img {
    float: left;
    height: 100px;
    position: relative;
}
.listnews .list-content .list-content-box {
  
    border-bottom: 1px solid #ff43a2;
}
.list.list-small .list-content .list-content-img img {
    max-width: 100%;
    width: 100%;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.list.list-small .list-content .list-content-body {
    margin-left: 115px;
}
.list.list-small .list-content-body .list-content-title {
    height: auto;
    display: inline;
}
.list.list-small .list-content-body .list-content-title h3:hover a{ color:#9328A9}
.list-content-title h3 {
    margin-top: 0;
}
.list.list-small .list-content-body .list-content-title a {
    text-transform: none;
    font-size: 13px;
}
.list-small .product-price-all, .list.list-small .product-price {
    margin-bottom: 0;
}
.list.list-small .product-price {
    color: #eb0000;
    font-size: 14px;
}
.featured .panel-body{ padding:10px;}
/*********right*****/
.breadcrumb > li a {
    color: #666;
}
.breadcrumb {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 10%;
    margin-right: 10%;
}
.list.grid .list-item {
    width: 33%;
    height: 440px;
    margin-bottom: 25px;
    padding-top: 10px;
}
.product-info-col1 span img {
	    padding-bottom: 10px;

}
.list.grid .list-item:nth-child(4) {
    border-right: 0;
}
.list.grid .list-item:nth-child(8) {
    border-right: 0;
}
.related .title {
    overflow: hidden;
}
.related .list.grid .list-item {
    width: 100%;
    height: 490px;
    padding-top: 10px;
}
.ProductActionAdd  {
    padding-left: 13%;
}

.list.grid .list-item .list-content-box .list-content-img {
    height: 190px;
}
.centerContent{ padding:0;}
.centerContent .list.grid{ margin:0;   }
.list .product-price{ font-size:20px;    color: #cc2695; margin-bottom:0;}
.product-price-market{ margin-bottom:10px; color:#666;}
.banner-trong{ margin-bottom:20px; border:1px solid #e3e3e3;}
.list.grid .list-item .list-content-body{ text-align: center;}
.list.grid .list-item .list-content-body .list-content-title{ margin-bottom:10px; max-height:44px;height: 44px;}
.list.grid .list-item .list-content-body .list-content-title:hover h3 a{ color:#9328A9;}
.quang-cao img{ margin-bottom:20px;}
/*******End******/
/**** CHi tiết sp********/
.product .product-cont{ box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;}
.product-detail .product-detail-box .product-detail-img{ width:400px; padding-left:20px; padding-top:20px;}
.product-detail .product-detail-box .product-detail-img .product-img-item{ float:left; border-top:none;}
.product-detail .product-detail-box .product-detail-img .product-img-item ul li{ display:block; margin-bottom:10px;float: left;
                                                                                 margin-right: 10px;}
.product-detail  span.pricetext, .product-detail .currencytext{ color:#f133a1; font-size:24px; text-transform:uppercase;}
.product-detail .product-detail-box .product-detail-info .product-info-title
{ 
    font-family: "mrs-eaves-xl-serif-narrow", serif;
    color: black;
    font-size: 30px;
    margin-bottom: 17px;
}
.old-price{text-decoration: line-through;}
.product-detail-sortdesc{    
	font-size: 14px;
    font-size: 16px;
    text-align: left;
    color: black;
    margin-bottom: 20px;
    font-family: "helvetica neue", helvetica, sans-serif;
    letter-spacing: 0.04em;
}
.product-detail {
    padding: 0px 0;
}
.product-detail .product-detail-box .product-detail-img img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
	height: 100%;
}
.tab-content>.active {
    display: block;
    font-family: "helvetica neue", helvetica, sans-serif;
}
.product-detail-saving span{ color:#00b548; font-size:14px;}
.product-detail .product-detail-box .product-detail-info label{ color:#333;}
.purchaser{ float:left; width:100%;}
.product-detail .product-detail-box .product-detail-info {
    padding: 16px 20px 20px 0;
}
.tab-content{ padding:0 10px;}
.CartActionAdd.ProductActionAdd{ float:left;}
.fb_comment iframe{ width:100% !important;}
.product-detail .product-detail-box{}
.tab .nav-tabs{ margin-bottom:0;}
.nav-tabs{ border-bottom:none;}
.tab-content p img{ margin:0 auto;}
.related-products .list.grid .list-item{ width:25%;}
.related-products .list.grid .list-item .list-content-box .list-content-img{ height:130px;}
.related-products .product-price-all{ margin-bottom:0;}
.list.grid{     margin: 0 0px 0px 0px; }
/* ################# BUTTON STYLE 1 ################# */

.a-btn{
    font-family: "helvetica neue", helvetica, sans-serif;
    font-weight: 200;
    width: auto;
    display: inline-block;
    vertical-align: top;
    border-radius: 0 !important;
    padding: 0 8%;
    height: 40px;
    line-height: 2;
    font-size: 16px;
    letter-spacing: 0.25em;
    background-color: #f133a1;

}

.purchaser .a-btn-text{
    color: #fff;
    padding-top: 5px;
    padding-left: 0px;
    display: block;
    font-family: "helvetica neue", helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

.a-btn-icon-right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:80px;
    border-left:1px solid #A00A0B;
    -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}
.a-btn-icon-right span{
    width:30px;
    height:30px;
    opacity:0.7;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    position:absolute;
    left:60%;
    top:25px;
    margin:-20px 0px 0px -20px;
    border:1px solid rgba(0,0,0,0.5);
    background:#4e5c50 url(img/arrow_right.png) no-repeat center center;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.3) inset, 0px 1px 2px rgba(255,255,255,0.5);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.3) inset, 0px 1px 2px rgba(255,255,255,0.5);
    box-shadow:0px 1px 1px rgba(255,255,255,0.3) inset, 0px 1px 2px rgba(255,255,255,0.5);
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.a-btn:hover{
    background-color: black;
}


.a-btn:active{
    position:relative;
    top:1px;
    background:#A00A0B;
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    border-color:#f83d3e;
}
.a-btn:active .a-btn-icon-right span{
    -webkit-transform:scale(1.4);
    -moz-transform:scale(1.4);
    -ms-transform:scale(1.4);
    -o-transform:scale(1.4);
    transform:scale(1.4);
}
.content-block{ margin-bottom:30px;}

.main-header-slogan-wrap {
    text-align: center;
    background-color: #F0F0F0;
    padding: 25px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.main-header-slogan-wrap h3 strong {
    color: #FF43A2;
    font-weight: 400;
}
.main-header-slogan-wrap h3 {
    letter-spacing: 1px;
    font-family: lato, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.main-header-slogan-wrap h3 {
    color: black;
    text-transform: none;    
}
#header {
    border-bottom: 1px solid #000;
}
.cateinhome {
	
}
h3.product-category {
    font-size: 22px;
    font-weight: 300;
    border-bottom: 1px dotted #AAAAAB;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}
h2.product-category {
    font-size: 22px;
    font-weight: 300;
    border-bottom: 1px dotted #AAAAAB;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    color: #ee429c;
	margin-top: 20px;
}
h3 {
    margin-bottom: 0;
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
   
    line-height: 1.2;
}
h3.product-name {
    color: #ee429c;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    font-weight: 300;
    height: 37px;
	line-height: 22px;
    text-align: center;
    font-family: lato, sans-serif !important;
}
a.boomsilk-view-details {
    color: white;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 16px;
    float: none;
    width: 154px;
    background-color: #ED0089;
    display: block;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 50px;
}
#footer-testimonies {
    max-width: 720px;
    margin: 0 auto;
}

#footer-testimonies h2 {
	margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
	color: #ee429c;
	
}
h2 {
    font-size: 30px;
    font-size: 3.0rem;
    margin-bottom: 15px;
    color: #000;
    font-weight: 200;
    text-transform: none;
}
.testimony {
    float: left;
    width: 276px;
    margin: 0 42px 35px;
    display: inline-block;
    height: 285px;
}
.testimony p {
    margin-bottom: 0;
}
.testimony p {
    color: #AAAAAB;
    font-size: 16px;
    line-height: 19px;
    overflow: hidden;
}
p.testimony-full-width {
    width: 100%;
}

.testimony .author {
    color: #ee429c;
}
.author {
    color: #ee429c;
    float: left;
    font-size: 17px;
    line-height: 1.1;
    padding-top: 8px;
    font-style: italic;
}
.join, .join:link, .join:visited {
    border-radius: 0;
    margin: 0 0 0 7px;
    display: inline-block;
    line-height: 1;
    padding: 11px 25px;
    float: none;
    font-size: 14px;
    font-family: lato, sans-serif;
}
.join, .join:link, .join:visited {
    line-height: 35px;
}
.join, .join:link, .join:visited {
    float: right;
    line-height: 32px;
    padding: 0 42px;
    margin-top: -8px;
}
.join {
   
    background-color: #ee429c;
    
}
#main-nav li a, #main-nav li a:link, #main-nav li a:visited, .join, .join:link, .join:visited {
    color: #ffffff;
    text-transform: uppercase;
    line-height: 28px;
    font-weight: 700;
}
.btn-primary {
    color: #fff;
    background-color: #ee429c;
    border-color: #ee429c;
    padding: 0px 5px !important;
	
}
.btn-danger {
    padding: 0px 5px !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: black;
    border-color: black;
}
a {
    color: #ee429c;
    text-decoration: none;
}
.sc .sc-ck-info {
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ee429c;
}
.btn-success {
    color: #fff;
    background-color: #ee429c;
    border-color: #ee429c;
}
.form-control {
   
    min-height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
    max-width: 100%;
    color: #000000;
    padding: 10px 5px;
    background: #f1f1f1;
    font-size: 13px;
    font-size: 1.3rem;
    border: 1px solid #f1f1f1;
	height: 38px;
}
#title {
	font-size: 22px;
    font-weight: 300;
    border-bottom: 1px dotted #AAAAAB;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}
#leftCol {
    float: left;
    display: block;
    position: relative;
    width: 200px;
    word-wrap: break-word;
    display: none;
}
.layout-2 #contentCol, .layout-3 #contentCol {
    margin-left: 0px;
}
.btn-info {
    color: #fff;
    background-color: #ee429c;
    border-color: #fcffff;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: black;
    border-color:black;
}
.instroduce2 {
	display: none;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 1px;
}
.list-content-img2 a img {
	padding-top: 10px;
    height: 252px;
    width: 252px;
}
.center-main-center .list.grid .list-item:nth-child(5) {
   
}

a.boomsilk-view-details:hover { 
   background: #ccc;	
}
.list-item {
      display: block;
    padding: 10px 0;
    border-top: dotted 0px #CCC;
    position: relative;
    width: 100%;
}
.newstitle {
    margin: 15px 0 10px 0;
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
}
.newsdetail, .ndetail {
    /* width: 100%; */
    margin-left: 0%;
    margin-right: 10%;
}
.list-content .list-content-img {
    border: 0px solid #f7f3f3;
    float: left;
    width: 290px;
    height: 290px;
    padding: 0px;
    overflow: hidden;
    margin: 0 10px 10px 0;
}
.list-content .list-content-body {
    margin: 0;
    width: auto;
}
.listnews {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
}
.container-wrapper {
    width: 90.5%;
    max-width: 940px;
    margin: 0 auto;
}
.list-content .list-content-img img {
    max-width: 100%;
    width: 100%;
    display: block;
    width: 275px;
    height: 275px;
}
#slideshow-container {
    margin: 0 auto;
    position: relative;
    float: left;

}
.textile img {
    max-width: 100%;
}

#desktop-slideshow img {
    margin: 0 auto 20px;
    display: block;
}
#gallery img {
    
}
#gallery {
    position:relative;
	width: 450px;
}
    #gallery a {
        float:left;
        position:absolute;
    }
    
    #gallery a img {
         left: 32px;
        border: none;
        top: -394px;
        position: relative;
        width: 303px;
        height: 291px;
    }
    
    #gallery a.show {
        z-index:500
    }

    #gallery .caption {
        z-index:600; 
        background-color:#000; 
        color:#ffffff; 
        height:100px; 
        width:100%; 
        position:absolute;
        bottom:0;
    }

    #gallery .caption .content {
        margin:5px
    }
    
    #gallery .caption .content h3 {
        margin:0;
        padding:0;
        color:#1DCCEF;
    }
.col50 {
    width: 48%;
}
.col {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-bottom: 2%;
	display: inline-block;
    padding-top: 64px;
    padding-left: 8%;
}
.purchaser1 {    
    text-align: center;
	margin-top: 18px;
}
.purchaser1 .a-btn-text {
    color: #fff;
    padding-top: 5px;
    padding-left: 0px;
    display: block;
    font-family: "helvetica neue", helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}
#footer-videos:after, #product-main-wrapper:after, #cart-page:after, #checkout-page:after, #article-page:after, #generic-page:after, #pre-sell-page:after, #collection-page:after, #home-page:after, #join-the-club .join-page-hr:after {
    display: inline-block;
    background: url(//cdn.shopify.com/s/files/1/0404/9121/t/59/assets/block-separator.png?4835396330056285906) no-repeat scroll 50% 0 transparent;
    clear: both;
    content: "";
    height: 2px;
    width: 100%;
    margin: 30px 0;
}
#footer-cta {
    display: block;
    background-color: #231f20;
    padding: 2% 0;
    max-height: 135px;
}
#footer-cta h2 {
    margin-bottom: 15px;
    font-size: 25px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}
#main-footer h2 {
    text-align: center;
    margin-bottom: 30px;
}
#footer-cta hr {
    border: 1px dashed #eeeeee;
    margin-bottom: 15px;
}
#footer-social {
    width: 25%;
    float: left;
    padding-top: 3%;
}
#footer-social h3 {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 400;
}
#footer-social h3 {
    color: #aaaaab;
}
#footer-social a, #footer-social a:link, #footer-social a:visited {
    margin-bottom: 15px;
}

#footer-social a, #footer-social a:link, #footer-social a:visited {
    width: 49%;
    display: inline-block;
    margin-bottom: 25px;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}
#footer a, #footer-bottom a:link, #footer-bottom a:visited {
    color: #858a8c;
}
#footer-social img, #footer-social .ss-icon-medium {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
    font-size: 20px;
}

#footer-nav {
    width: 40%;
    float: left;
    text-transform: uppercase;
    border-right: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    padding: 2.5% 3% 4%;
    margin: 56px 7%;
}
#footer-nav ul {
    width: 50%;
    float: left;
}
#footer-nav li {
    line-height: 2;
}
ol, ul {
    list-style: none;
}
#footer-about {
    float: right;
    width: 20%;
    padding-top: 6.5%;
}
#footer-about img {
    width: 100%;
    margin-bottom: 10px;
    width: 125px;
}
#footer-about p {
    color: #858A8C;
    font-size: 12px;
    padding-top: 14px;
    text-decoration: none;
    line-height: 14px;
}
#footer-about p {
  
    padding: 0;
    margin: 0;
}
#footer-cta h2 {
    text-align: center;
}
#footer-credits {
    padding: 2% 0;
}
.product-info-state {
	padding-bottom: 15px;
	
}
.tab .nav-tabs {
    float: left;
    width: 320px;
    border-bottom: none;
    border-right: solid 1px #e1e1e1;
}
.tab .nav-tabs {
    margin-bottom: 10px;
}
.nav-tabs>li {
    float: none;
    margin-bottom: 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #ec268f;
    cursor: default;
    background-color: #fff;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
}
.product-detail .product-detail-box {
    margin-bottom: 50px;
    border-bottom: 1px solid #e1e1e1;
}
.product-detail .product-detail-more {
    margin-top: 20px;
    padding-bottom: 0;
    margin-bottom: 50px;
    border-bottom: solid 1px #e1e1e1;
    overflow: hidden;
}
.nav-tabs > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-tabs > li > a {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 15px;
}
.nav-tabs>li>a {
    margin-right: 0px;
    line-height: 1.42857143;
    border: 0px solid transparent;
    border-radius: 0 0 0 0;
}
.tab-content {
    overflow: hidden;
    position: relative;
    left: -1px;
    border-left: solid 1px #e1e1e1;
    padding-left: 30px;
}
.tab-content {
    padding: 0 10px;
}
.boom-body-wrapper .nectar-video-section-wrap:first-child .video-section-text-article {
    padding-left: 5%;
    padding-right: 5%;
}
.boom-body-wrapper .nectar-video-section-wrap .video-section-text-article {
    padding-left: 5%;
    padding-top: 30px;
}
.boom-body-wrapper .nectar-video-section-wrap .video-section-text-article, .boom-body-wrapper .nectar-video-section-wrap .video-section-img-aside {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
.boom-body-wrapper .nectar-video-section-wrap .video-section-text-article, .boom-body-wrapper .nectar-video-section-wrap .video-section-img-aside {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
.video-section-first-aside {
    float: right;
}
.boom-body-wrapper .nectar-video-section-wrap .video-section-text-article h2 {
    color: black;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: "mrs-eaves-xl-serif-narrow", serif;
    font-size: 40px;
    line-height: 1;
}
.product-detail .product-detail-more {
}
.boom-body-wrapper .nectar-video-section-wrap {
    margin: 25px 0;
}
.boom-body-wrapper .nectar-video-section-wrap .video-section-text-article {
    padding-left: 5%;
    padding-top: 30px;
}
.boom-body-wrapper .nectar-video-section-wrap .video-section-text-article, .boom-body-wrapper .nectar-video-section-wrap .video-section-img-aside {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}
.boom-body-wrapper .nectar-video-section-wrap .video-section-text-article p {
    font-family: "helvetica neue", sans-serif;
    margin-bottom: 0;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 22px;
}
.nection-section1-wrap {
    margin-bottom: 55px;
}
.nectar-section1-full {
    min-height: 323px;
    background-color: #feecec;
    display: inline-block;
    vertical-align: top;
    width: 99.8%;
    margin: 40px 0.1% 0;
    padding: 45px 8% 35px;
    text-align: center;
	font-size: 16px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.boom-body-wrapper .nectar-video-section-wrap .video-section-text-article h3 {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #000100;
    margin-bottom: 20px;
    font-family: "helvetica neue", sans-serif;
    letter-spacing: 0.12em;
}
h2.text1 {
	font-size: 20px;
    text-align: left;
    color: #ee429c;
    font-family: "helvetica neue", helvetica, sans-serif;
    letter-spacing: 0.04em;
}
h2.text3 {
	font-size: 20px;
    text-align: left;
    color: #ee429c;
    margin-bottom: 10px;
    font-family: "helvetica neue", helvetica, sans-serif;
    letter-spacing: 0.04em;
}
h3.text2 {
	font-size: 20px;
    text-align: left;
    color: #858a90;
	 margin-bottom: 10px;

    font-family: "helvetica neue", helvetica, sans-serif;
    letter-spacing: 0.04em;
    text-transform: unset;
}
#header-join-link, #header-join-link.join:visited {
    background-color: #FF43A2;
    font-family: lato, sans-serif;
    letter-spacing: 0.5px;
    line-height: 23px;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    padding: 16px;
    margin-left: 0px;
    padding: 15px 4px;
    text-transform: uppercase;
}
#lightSlider img {
    display: block;
    height: auto;
    max-width: 100%;
	width: 387px !important;
    height: 360px !important;
    margin-left: 5%;
	border: 1px solid #000;
}
 .main-nav-store-link {
    display: block;
}
a.main-nav-store-link {
    display: none;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.25em;
    font-family: lato, sans-serif;
    padding-right: 7%;
}
 .list-content .list-content-img { 
    max-height: 660px;   
}
.list.grid .list-item .list-content-box .list-content-img {
    height: 348px;
}
 .list.grid .list-content .list-content-img img {
    position: static;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 348px;
    width: 100%;
}
.selector-wrapper {
    display: inline-block;
    margin-right: 1%;
}
.selector-wrapper {
    font-family: "helvetica neue", helvetica, sans-serif;
    font-weight: 200;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    letter-spacing: 0.25em;
    display: inline-block;
    vertical-align: top;
    width: auto;
}
.list.grid .list-content .list-content-img3 img {
    position: static;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 469px;
    width: 100%;
}

.selector-wrapper {
    color: #000000;
    font-size: 15px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.selector-wrapper label {
    display: none;
}
.selector-wrapper select, .selector-wrapper select {
    font-size: 16px;
    border-color: #ed008a;
    border-width: 2px;
    border-radius: 0;
    color: #ed008a;
    background: #fff url(//cdn.shopify.com/s/files/1/0404/9121/t/59/assets/boom-dropdown.jpg?1508366…) no-repeat 95% center !important;
    background-size: 100% !important;
    padding: 9px 30px 9px 15px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: 700;
}
.product-price {
    display: inline-block;
    padding-left: 10px;
}
.scroll-top-btn {
    z-index: 99;
}
.scroll-top-btn {
    bottom: 1%;
    cursor: pointer;
    left: 10px;
    position: fixed;
}
.box-bankinfo {
    border: 1px dashed #EEBE00;
    background-color: #FFF8CE;
    padding: 10px;
    border-radius: 6px;
    color: #666666;
    max-width: 550px;
    margin: 10px 0 10px 50px;
	height: 211px;
}
.box-bankinfo h4 {
    color: #ED2523;
    text-transform: uppercase;
    font-size: 16px;
}
.box-bankinfo .bank-info {
    margin-top: 5px;
}
.bank-col-1, .bank-col-2 {
    float: left;
}
.box-bankinfo .bank-info img {
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
    max-width: 200px;
}

.box-bankinfo .bank-name {
    text-transform: uppercase;
    font-weight: bold;
}
.box-bankinfo .bank-info span {
    display: block;
}
.box-bankinfo .bank-branch {
    margin-bottom: 7px;
}
.box-bankinfo .bank-col-2 {
    width: 313px;
}
.box-bankinfo .bank-info span {
    display: block;
}
.box-bankinfo .bank-acc-name, .box-bankinfo .bank-acc-number, .box-bankinfo .bank-money, .box-bankinfo .bank-note {
    line-height: 1.1;
    margin-bottom: 7px;
}
.border-list {
	margin-top: 45px;
}

.statistic .uc-title {
    display: inline-block;
    width: 107px;
}
#footer .back-top {
    position: absolute;
    left: 50%;
    text-align: center;
   
    margin-top: -26px;
    margin-left: -40px;
}
#footer a {
    color: #ec268f;
}
.bottom-main23 .w3nproductsort {
	display: none;
}
.bottom-main23 .w3npagesize {
	display: none;
}
.login ul li #menuUserSetting {
    background: #fff;
    position: absolute;
    margin-left: -45px;
    padding: 0px;
    z-index: 1000;
    margin-top: 13px;
}
.login ul li #menuUserSetting .fa-sort-asc {
    position: absolute;
    color: #fff;
    margin-top: -10px;
    margin-left: 60px;
}
.login ul li #menuUserSetting li {
    width: 100%;
    padding: 4px 10px;
}
.login ul li {
    float: left;
    display: inline-block;
    padding: 6px 10px;
    list-style: none;
    padding-left: 20px;
    width: auto;
    height: auto;
}
.login ul li #menuUserSetting a {
    color: #5a5454;
    text-transform: inherit;
}
.login ul li a {
    cursor: pointer;
    white-space: nowrap;
    color: #fff;
    transition: color .2s;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}
.txt-userInfoVip {
	padding-left: 25px;
}
/**********/
.social .social-item{ float:left;}
.related-products .list-content-body .list-content-title{ height:60px; max-height:60px;}
.related-products .list-content-body .list-content-title h3{ margin:0; font-size:13px;}
.related-products .list-content-body .list-content-title h3 a{ text-transform:none;}
.related-products .list.grid .list-item .list-content-body .list-content-title{ max-height:60px;  display: inline;}
.related-products .list.grid .list-item .list-content-box .list-content-body{ margin-top:10px;}
.right .title{ margin-bottom:20px;}
.right .product .list.grid{ margin:0;border-bottom: 1px solid #e3e3e3;
                            border-right: 1px solid #e3e3e3;}
.right .product .line{ margin-top:-31px;}
.right .product .product-cont{ margin-top:28px;}
@media(min-width:993px){
    #cssmenu { margin-top:20px;}
    #cssmenu ul{ display:table; float:left;}
    #cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover{ background:#C7B87C;}
    #cssmenu ul ul li{border-bottom:1px solid rgb(189, 171, 99);}
}
@media(max-width:1200px){
    .container{width:100%;}
}
@media(max-width:992px){
	.exzoom_img_ul li {
		width: 340px !important;
	}
    #cssmenu > ul > li > a{ font-size:18px;}
    .list.grid .list-item{ width:33.33333333%;}
    .list.grid .list-item .list-content-body .list-content-title{ max-height:80px;}
    .list.grid .list-item{ height:440px;}
    .right .list-item:last-child{ display:none;}
    .product-detail .product-detail-box .product-detail-img{width:350px;}
    .product-detail .product-detail-box .product-detail-info{ margin-left:370px;}
    .searchbox{ right:inherit; left:300px; width:230px;}
    .searchbox:hover{width:230px;}
    .cart{ right:inherit; left:570px;}
    #cssmenu #menu-button::before { top:35px; width:20px;}
    #cssmenu #menu-button::after{ top:30px; width:20px;}
}
@media(max-width:768px){
	
	.bottom-main23 .w3nproductsort {
		display: block;
		float: left;
		padding-left: 10px;
		padding-bottom: 10px;
	}
	.border-list {
		margin-top: 0px;
	}
	.bottom-main23 .w3npagesize {
		display: block;
		float: left;
		padding-left: 10px;
	}
	.arrange{
		float: left;
		padding-bottom: 8px;
	}
	.displayed {
		float: left;
		padding-right: 0px;
	}

	.list-content .list-content-img img {
		max-width: 100%;
		width:  340px;
		height: 340px;
	}
	.exzoom_img_ul li {
		width: 340px !important;
	}
	.exzoom_img_box {
		height: 340px !important;
	}
	.cateinhome {
		display: block;
	}
	#exzoom, .exzoom_img_box, .exzoom_img_ul_outer, .exzoom_nav {
		width: 100% !important; 
		
	}
	#exzoom {
		width: 500px;
		padding-left: 5px;
		padding-top: 0px;
		padding-right: 5px;
		padding-bottom: 20px;
	}
	.exzoom .exzoom_img_ul_outer .exzoom_img_ul li img {
		width: 100% !important;
		height: 100% !important;   
	}
	.exzoom .exzoom_img_ul_outer .exzoom_img_ul li {
		list-style: none;
		display: inline-block;
		text-align: center;
		float: left;
	}
	.tab .nav-tabs {
		width: 100%;
		border-bottom: 1px solid #ececec;
	}
	.box-dlmb .btn-mb1 {
		width: 120px;
		height: 38px;
	}
	.box-dlmb .btn-dls {
		margin-top: 5px;
		margin-left: 8px;
	}
	.box-dlmb a {
		display: block;
		height: 38px;
		position: absolute;
		top: 0%;
	}
	
	.spr {
		background: url(img/tai2.png) 0 0 no-repeat;
	}

	.instroduce {
		width: 100%;
		padding: 10px;
	}
	.page-c-detail{ 
		width: 100%;
	}
	.newsdetail { 
		width: 100%;
	}

	.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
		padding: 3px;
		line-height: 1.42857143;
		vertical-align: top;
		border-top: 1px solid #eee;
	}
	.testimony-full-width2 {
		padding-left: 10%;
		padding-right: 14%;
	}
	
	#footer-social a, #footer-social a:link, #footer-social a:visited {
		width: 32%;
		display: inline-block;
		margin-bottom: 25px;
		-webkit-transition: color 0.2s linear;
		-moz-transition: color 0.2s linear;
		-ms-transition: color 0.2s linear;
		-o-transition: color 0.2s linear;
		transition: color 0.2s linear;
	}
	.mod-layout .mod-input {
		width: 100%;
	}
	.mod-layout .next-btn {
		width: 100%;
		margin-top: 10px;
	}
	.mod-layout-main {
		background-color: #fff;
		padding: 5px 5px;
	}
	#footer-testimonies h2 {	
		font-size: 24px;
		font-weight: bold;
	}
    .cart{ left:inherit; right:30px; top:30px;}
    #cssmenu #menu-button::before {    
		top: 23px;
		width: 20px;
		left: 13px;
	}
    #cssmenu #menu-button::after{ 
		top: 18px;
		width: 20px;
		left: 13px;
	}
	.product-price {
		padding-left: 0%;
	}
    .nectar-section1-full p img {
        width: 100% !important;
        height: 100% !important;
    }
	.list-content .list-content-body {
		margin-left: 0px;
		max-width: 100%;
	}
    #footer .col-sm-4{ padding-left:0; margin-bottom:30px;}
    .bottom-footer{ padding:10px;}
    #cssmenu ul li a{ font-size:14px; color:#fff;}
    #cssmenu > ul > li > a{ padding:11px;color:#000;  padding-left: 26px;}
    #cssmenu ul ul li a{ padding:14px 20px 13px 20px; text-transform:uppercase; font-size:14px;color:#fff;}
    #cssmenu ul ul li:hover > a{ color:#ed0c6e;}
    #cssmenu ul ul ul li a{ padding-left:30px;color:#fff;}
    .logo{ width:160px; height:100px;}
    .top-header{}
    .searchbox{position: absolute; bottom:-180px;width: 226px;z-index: 9999; left:10px;}
    #cssmenu{    padding-top: 0px;
    background: #f2f2f2;}
    .searchbox .form-control, .searchbox .submitForm{ border-color:#115e32}
    #cssmenu #menu-button{background-color: #f133a1;}
    .left{ display:none;}
    .right{ margin-left:0; margin-top: 60px;}
    .list.grid .list-item{ width:50%; text-align: center;}
    .product-detail .product-detail-box .product-detail-img{width:100%;}
    .product-detail .product-detail-box .product-detail-info{ margin-left:0;}
    .product-info-col1{ padding:0 10px;}
    .product-detail .product-detail-box .product-detail-info{ padding:0 10px;}
    .right .list-item:last-child{ display:block;}
    .banner-main{ display:none;}
    .title h2{ font-size:21px;margin:0; padding-top:10px;}
    .searchbox{ top:90px; bottom:inherit}
    .searchbox:hover{ width:226px;}
	
	.main-header-contact-section {   
		    position: absolute;
		top: 15px;
		left: 50%;
		border-left: 0px solid #fff;
		width: 186px;
		padding: 0px 0 0px 0px;
	}
	#gallery {
		position: relative;
		width: 100%;
	}
	#utility-nav li {
		text-align: center;
		margin-bottom: 0px;
	}
	.boom-header-call-section {
	    display: none;	
	}
	.list-content .list-content-box {
		border-bottom: 1px solid #fff;
	}
	h3.product-name {
		color: #ee429c;
		text-decoration: none;
		font-size: 18px;
		font-weight: normal;
		font-weight: 300;
		height: 37px;
		text-align: center;
		font-family: lato, sans-serif !important;
	}
    .list .product-price {
        text-align: center;  
    }
	a.boomsilk-view-details {
		color: white;
		height: 28px;
		line-height: 28px;
		text-align: center;
		font-size: 16px;
		float: none;
		width: 100%;
		background-color: #ED0089;
		display: block;
		text-transform: uppercase;
		margin-top: 4px;
		margin-left: 0%;
	}
    .list.grid .list-content .list-content-img img {
        position: static;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 300px;
        width: 100%;
    }
     .list.grid .list-content .list-content-img3 img {
        position: static;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 469px;
        width: 100%;
    }
    .list.grid .list-item .list-content-box .list-content-img {
        height: 340px;
    }
    .list.grid .list-item .list-content-box .list-content-img3 {
        padding-left: 14px;
        padding-right: 14px;
    }
    .cont a.boomsilk-view-details {
        color: white;
        height: 28px;
        line-height: 28px;
        text-align: center;
        font-size: 16px;
        float: none;
        width: 154px;
        background-color: #ED0089;
        display: block;
        text-transform: uppercase;
        margin-top: 4px;
        margin-left: 13%;
    }
    .menu_2 {
		position: absolute;
		top: 49px;
		left: 7px;
	}
	.main-nav-store-link {
		display: none !important;
	}
    #footer-social {
        width: 100% !important;
        
    }
     #footer-nav {
        width: 100% !important;
        
    }
	#header-join-link {
		display: none;
	}
     #footer-about {
        width: 100% !important;
        
    }
    #footer-nav {
   
    text-transform: uppercase;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    padding: 0;
    margin: 0;
    }
    .list.grid .list-item {
        width: 25%;
        height: 372px;
        padding-top: 10px;
		padding-left: 6px;
		margin-bottom: 15px;
        border-right: 2px dotted #fff;
        border-bottom: 2px dotted #AAAAAB;
    }
	.content {
		margin-top: 0px !important;
	}
	.purchaser {
		float: left;
		width: 100%;
		margin-bottom: 15px;
	}
	.boom-body-wrapper .nectar-video-section-wrap .video-section-text-article {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}
	.boom-body-wrapper .nectar-video-section-wrap .video-section-img-aside {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}
	.wistia_embed wistia_async_es93zb8p7n {
		width: 100% !important;
	}
	.instroduce2 {
		display: block;
	}
	#home-page {
		display: none;
	}
	#footer-testimonies {
		display: none;
	}
	.btn {
		display: inline-block;
		padding: 6px 12px;
		margin-bottom: 0;
		font-size: 13px;
		font-weight: normal;
		margin-bottom: 8px;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 1px;
	}
    .list-item {
        height: 100%;
        width: 100%;
    }
    .list-content .list-content-img {
        border: 0px solid #f7f3f3;
        float: none;
        width: 100%;
        padding: 0px;
        overflow: hidden;
        margin: 0 20px 10px 0;
    }
	.billing {
		width: 100%;
	}
	.form-horizontal .form-group {
		margin-right: 1px;
		margin-left: 1px;
		display: inline-block;
		width: 100%;
	}
    .list .list-content .list-content-img {
        position: relative;
        height: 340px;
    }
	#shipping {
		width: 100%;
	}
	.sc .sc-billing-text, .sc .sc-shipping-text {
		font-size: 16px;
		font-weight: bold;
		margin: 0px 14px 20px;
	}
    .col {
        display: inline-block;
        text-align: left;
        vertical-align: top;
        margin-bottom: 2%;
		padding-top: 2px;
    }
	.slides-container {
		height: 200px;
		padding-left: 15px;
	}
	.testimony {
		float: left;
		width: 100%;
		margin: 0 0px 20px;
		display: inline-block;
	}
    .col50 {
        width: 99%;
    }
    h2.sc-title {
        font-size: 22px !important;
        font-weight: 300 !important;
        border-bottom: 1px dotted #AAAAAB !important;
        margin-bottom: 1em !important;
        padding-bottom: 0.5em !important;
        color: #ee429c !important;
    }
	.author {
		color: #ee429c;
		float: left;
		font-size: 17px;
		line-height: 1.1;
		padding-top: 8px;
		/* text-align: center; */
		font-style: italic;
		    padding-left: 10%;
	}

	#lightSlider img {
		display: block;
		height: auto;
		max-width: 100%;
		width: 70% !important;
		height: 250px !important;
		margin-left: 5%;
		border: 1px solid #000;

	}
	.lightSlider {
		overflow: hidden;
		margin: 0;
		height: 272px !important;
	}
	.lSSlideOuter .lSPager.lSGallery {		
		margin-bottom: 30px !important;		
	}
	.lSAction > .lSNext {
		right: 20% !important;
	}
	.lSAction .lSNext {
		width: 18px !important;
		
	}
	.lSAction .lSPrev {
		top: 45% !important
		
	}
	.lSAction .lSNext {
		top: 45% !important
		
	}
	#main .container {
		background: #fff;
		padding: 10px !important;
	}
	.list-content-img2 a img {
		padding-top: 27px;
		height: 210px;
		width: 100%;
	}
	.boom-body-wrapper .nectar-video-section-wrap .video-section-text-article p {
		font-family: "helvetica neue", sans-serif;
		margin-bottom: 0;
		letter-spacing: 0.04em;
		font-size: 16px;
		line-height: 22px;
	}
	.list.grid .list-item .list-content {
		margin: 0 0px;
		display: block;
		width: auto;
		overflow: hidden;
	}
	.newsdetail, .ndetail {	
		width: 100%;
	}
	

}
@media(max-width:992px){
	.exzoom_img_ul li {
		width: 380px !important;
	}
	.exzoom_img_box {
		height: 380px !important;
	}
    
}
@media(max-width:480px){

    .hotline{ padding-left:10px;}
    .hotline a{ font-size:13px;}
    .list.grid .list-item{ width:50%; }
}


.demo {
    width:425px;
}
.product-detail-img2 {
	float: left;
}


#scrollUp {
    background: #079147;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
}